{% extends "shared/base_spa.html" %}

{% block body_class %}batch-start-spa{% endblock %}
{% block title %}Start new batch | SupplyChain V2{% endblock %}

{% block head_extras %}
  {{ super() }}
  {# Reuse wizard segmented control styling (flow-mode-segmented). #}
  {% include 'processes/create-process-step-content-styles.html' %}
  <link rel="stylesheet" href="{{ url_for('core.serve_core_inventory_static', filename='inventory-spa-header.css') }}">
{% endblock %}

{% block content %}
  {% include "processes/batch-start-fragment.html" %}
  {% include "processes/batch-start-scripts.html" %}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
