/* Styles for the raw data table */
.white-label {
    color: black;
}

h1 {
    color: black; /* Set the text color of the heading */
}

body {
    font-family: Arial, sans-serif;
    /* background-image: url('/static/images/background-image.jpg'); /* Background image URL */
    background-image: linear-gradient(344deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(208deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(189deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(230deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(69deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(90deg, rgb(77, 249, 52),rgb(153, 163, 31)); background-blend-mode:overlay,overlay,overlay,overlay,overlay,normal;
    background-size: cover; /* Maintain consistent background image sizing */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content horizontally */
    justify-content: center; /* Vertically center content */
    min-height: 100vh; /* Ensure the container takes the full height of the viewport */
}

.data-table-container {
    overflow-x: auto;
    margin: 20px; /* Add some spacing around the table container */
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; /* White background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 10px; /* Add curved edges */
}

.data-table th, .data-table td {
    padding: 12px; /* Increase padding for better spacing */
    border-bottom: 1px solid #dee2e6; /* Add a subtle border between rows */
    text-align: left;
    font-size: 14px;
}

.data-table th {
    background-color: #f8f9fa; /* Light background for headers */
    font-weight: bold;
}

.data-table tr:hover {
    background-color: #f2f4f6; /* Slightly darken the row on hover */
}

@media (max-width: 600px) {
    .data-table tr:hover {
        background-color: #fff; /* Revert hover effect for mobile */
    }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .data-table th,
    .data-table td {
        padding: 5px;
        font-size: 12px;
    }
}
