<!DOCTYPE html>
<html>
<head>
    <title>Add sales product samples</title>
    <!-- Add a link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        label {
            color: black; /* Set the color to white */
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Add sales product samples</h1>
    </div>
    <div class="form-container">
        <form action="/add-sales-product-samples" method="post" id="addSalesProductSamples">
            <label for="buyer">Enter buyer</label>
            <select id="buyerSelect" name="buyer" onchange="handleBuyerSelection()">
                <option value="">Select buyer or enter new</option>
                {% for buyer in buyers %}
                <option value="{{ buyer }}">{{ buyer }}</option>
                {% endfor %}
                <option value="Personal">Personal</option>
                <option value="new_buyer">Enter new buyer</option>
            </select>
            <input type="text" id="buyerInput" name="buyer" placeholder="Enter buyer" style="display: none;">

            <script>
                function handleBuyerSelection() {
                    var select = document.getElementById('buyerSelect');
                    var input = document.getElementById('buyerInput');
                    
                    if (select.value === 'new_buyer') {
                        select.style.display = 'none';
                        input.style.display = 'block';
                        input.value = '';
                    } else {
                        input.value = select.value;
                    }
                }
            </script>
            <label for="samplesProvided">Enter number of samples provided</label>
            <input type="float" id="samplesProvided" name="samplesProvided" placeholder="Enter samples provided">
            <label for="product">Select product</label>
            <select id="product" name="product">
                <option value="wildflower">Wildflower</option>
                <option value="rosella">Rosella</option>
                <option value="solstice">Solstice</option>
            </select>
            <label for="abv">Enter alcohol ABV%</label>
            <input type="float" id="abv" name="abv" placeholder="Enter alcohol ABV%">
            <label for="bottleSizeMl">Enter bottle size (ml)</label>
            <input type="float" id="bottleSizeMl" name="bottleSizeMl" placeholder="Enter bottle size (ml)">
            <button type="submit"> Add Entry</button>
        </form>
    </div>

    <div class="button-container">
        <form action="/back-button-buys-sells" method="post" class="form">
            <button type="submit" class="top-right-button">Back to purchases and sales</button>
        </form>

    </div>

</body>
</html>
