<!DOCTYPE html>
<html>
<head>
    <title>Add ingredients to inventory</title>
    <!-- Add a link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        label {
            color: black; /* Set the color to white */
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $('#ingredientSelect').change(function () {
                var selectedIngredient = $(this).val();
                if (selectedIngredient) {
                    $.ajax({
                        type: 'POST',
                        url: '/get-ingredient-codes',
                        data: { selected_ingredient: selectedIngredient },
                        success: function (response) {
                            var ingredientCodeSelect = $('#ingredientCode');
                            ingredientCodeSelect.empty(); // Clear previous options
                            $.each(response.ingredient_codes, function (index, code) {
                                ingredientCodeSelect.append($('<option>', {
                                    value: code,
                                    text: code,
				    disabled: true
                                }));
                            });
                        }
                    });
                }
            });
        });
    </script>

</head>
<body>
    <h1>Add ingredients to inventory</h1>

    <div class="form-container">
        <form action="/add-botanicals-to-inventory" method="post" class="form" id="addIngredientsToInventoryForm">
            <label for="supplier" class="white-label">Supplier:</label>
            <select name="supplier" id="supplierSelect" required>
                <option value="" selected disabled>Select a supplier</option>
                {% for supplier in previous_suppliers %}
                <option value="{{ supplier }}">{{ supplier }}</option>
                {% endfor %}
            </select>

            <button type="button" onclick="location.href='/add-supplier-form'">Add a new supplier</button>
	    <div style="margin-bottom: 10px;"></div>

	    <label for="ingredients" class="white-label">Enter ingredient</label>
            <select name="ingredients" id="ingredientSelect">
                <option value="" selected disabled>Select ingredient</option>
                {% for ingredient in previous_ingredients %}
                <option value="{{ ingredient }}">{{ ingredient }}</option>
                {% endfor %}
            </select>

	    <input type="text" id="ingredients" name="ingredients" placeholder="Enter ingredient name if not in drop down options">
            
	    <label for="ingredients_amount" class="white-label">Enter purchased amount in grams</label>
            <input type="number" id="ingredients_amount" name="ingredients_amount" placeholder="i.e 500 = 500 grams" required>
	    
	    <label for="ingredients_expiry" class="white-label">Enter ingredient expiry</label>
	    <input type="text" id="datepicker" name="ingredients_expiry" readonly>

	    <label for="ingredient_code" class="white-label">Previous ingredient codes</label>
	    <select name="ingredient_code" id="ingredientCode">
                <option value="" selected disabled>Select ingredient above</option>
            </select>
	    <input type="text" id=ingredients_code name="ingredients_code" placeholder="Increment new ingredient code" required>

            <button type="submit">Add ingredients to inventory</button>
        </form>
    </div>

    <div class="button-container">
        <form action="/back-button-buys-sells" method="post" class="form">
            <button type="submit" class="top-right-button">Back</button>
        </form>
    </div>

    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>

</body>
</html>
