<!DOCTYPE html>
<html>
<head>
    <title>Add new buyer</title>
    <!-- Add a link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        label {
            color: black; /* Set the color to white */
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Add new buyer</h1>
    </div>

    <div class="form-container">
	    <form action="/add-buyer" method="post">
            <label for="buyer">Existing buyers:</label>
                <select name="buyer" id="buyerSelect">
                    <option value="" selected disabled>Select a buyer</option>
                    {% for buyer in previous_buyers %}
                    <option value="{{ buyer }}" selected disabled>{{ buyer }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="new_buyer" placeholder="New Buyer">
		<label for="primaryContact">Primary contact name</label>
		<input type="text" name="primaryContact" placeholder="Add primary contact name here">
                <label for="buyerAddress">Buyer address:</label>
                <input type="text" name="buyerAddress" placeholder="Add buyer address here">
		<label for="buyerPhone">Buyer Phone:</label>
		<input type="text" name="buyerPhone" placeholder="">
		<label for="buyerEmail">Buyer Email:</label>
		<input type="text" name="buyerEmail" placeholder="Enter email for contact">
		<button type="submit"> Add new buyer</button>
        </form>
    </div>

    <div class="button-container">
        <form action="/back-button-data-tools" method="post" class="form">
            <button type="submit" class="top-right-button">Back to Data tools</button>
        </form>

    </div>

</body>
</html>
