<!DOCTYPE html>
<html>
<head>
    <title>Add flavor batches to vat</title>
    <!-- Add a link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        label {
            color: black; /* Set the color to white */
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Add flavor batches to vat</h1>
    </div>
    <div class="form-container">
            <form action="/add-flavor-to-vat" method="post" id="addFlavorToVatForm">
                <label for="volumeStored">Volume stored (Required)</label>
                <input type="number" name="volumeStored" id="volumeStored" placeholder="Total litres stored (L)" required>
		<label for="abv">ABV </label>
		<select name="abv" id="selectPreviousABV">
                        <option value="" selected disabled>Select abv</option>
                        {% for abv_ in previous_abv %}
                        <option value="{{ abv_ }}">{{ abv_ }} </option>
                        {% endfor %}
                </select>
		<input type="number" name="abv" placeholder="New ABV" >
		<label for="flavorBatches">Select flavor batches used in batch</label>
		<div id="flavorBatchContainer">
		    <select name="flavorBatches[]" id="selectFlavorBatches">
		        <option value="" selected disabled>Select flavor batch</option>
			{% for flavor_batch in flavor_batches %}
			<option value="{{ flavor_batch }}">{{ flavor_batch }}</option>
			{% endfor %}
		    </select>
		</div>
		
		<button type="button" id="addFlavorBatch">Add Another Flavor Batch</button>

		<label for="vatBatch">Previous vat batches</label>
		<div id="vatBatchContainer">
		    <select name="vatBatches[]" id="selectVatBatches">
			<option value="" selected disabled>Previous vat batches</option>
			{% for vat_batch in vat_batches %}
			<option value="{{ vat_batch }}" disabled>{{ vat_batch }}</option>
			{% endfor %}
		    </select>
		<input for="vatBatch" name=vatBatch id="vatBatch" placeholder="Enter vat batch" required>
                <button type="submit"> Add Entry</button>
        </form>
    </div>

    <div class="button-container">
        <form action="/back-button-product-tools" method="post" class="form">
            <button type="submit" class="top-right-button">Back to Product tools</button>
        </form>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Counter for tracking the number of added flavor batch selections
            var flavorBatchCounter = 0; // Initialize to 0

            // Add an event listener to the "Add Another Flavor Batch" button
            document.getElementById("addFlavorBatch").addEventListener("click", function () {
                flavorBatchCounter++;

                // Create a new select element for flavor batch
		var newSelect = document.createElement("select");
		newSelect.name = "flavorBatches[]"; // Use the same name for all flavor batches
		newSelect.className = "flavorBatches";
		newSelect.innerHTML = document.getElementById("selectFlavorBatches").innerHTML;

		// Create a new div to contain the select element
		var newDiv = document.createElement("div");
		newDiv.appendChild(newSelect);

		// Append the new div to the flavorBatchContainer
		document.getElementById("flavorBatchContainer").appendChild(newDiv);
	    });
	});
    </script>

</body>
</html>
