<!DOCTYPE html>
<html>
<head>
    <title>Add alcohol/dilution</title>
    <!-- Add a link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        label {
            color: black; /* Set the color to white */
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Add alcohol/dilution</h1>
    </div>
    <div class="form-container">
            <form action="/add-alcohol" method="post" id="addAlcoholForm">
                <label for="alcohol_stored_l">Volume stored (L)</label>
                <input type="number" name="alcohol_stored_l" id="alcohol_stored_l" step=".01" placeholder="Total litres stored (L)" required>
		<label for="abv">ABV</label>
		<select name="abv" id="abv">
                        <option value="" selected disabled>Select abv</option>
                        {% for abv in previous_abv %}
                        <option value="{{ abv }}">{{ abv }} </option>
                        {% endfor %}
                </select>
		<input type="number" name="abv" id="abv" step=".01" placeholder="New ABV">
		<label for="notes">Notes</label>
		<input type="text" name="notes" id="notes" placeholder="Add description of stored alcohol i.e clearing or flavor base" required>
                <button type="submit"> Add Entry</button>
        </form>
    </div>

    <div class="button-container">
        <form action="/back-button-product-tools" method="post" class="form">
            <button type="submit" class="top-right-button">Back to Product tools</button>
        </form>

    </div>

</body>
</html>
