<!DOCTYPE html>
<html>
<head>
    <!-- Add a link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        label {
            color: black; /* Set the color to white */
        }
    </style>
    <title>Alcohol final concentration /abv calc</title>
    <script>
        function calculateTargetAbv() {
            // Get user inputs
            var volumeOne = parseFloat(document.getElementById("volumeOne").value);
            var abvOne = parseFloat(document.getElementById("abvOne").value);
            var volumeTwo = parseFloat(document.getElementById("volumeTwo").value);
	    var abvTwo = parseFloat(document.getElementById("abvTwo").value);

            // Check if inputs are valid numbers
	    if (isNaN(volumeOne) || isNaN(abvOne) || isNaN(volumeTwo) || isNaN(abvTwo)) {
                alert("Please enter valid numeric values.");
                return;
            }

	    var totalVolume = volumeOne + volumeTwo
	    var totalAlcohol = (volumeOne * abvOne) + (volumeTwo * abvTwo)
	    var finalAbv = totalAlcohol / totalVolume

            // Display the results on the webpage
            document.getElementById("results_abv").innerHTML = "New ABV: " + finalAbv.toFixed(2) + " %";
	    document.getElementById("results_volume").innerHTML = "New Volume: " + totalVolume.toFixed(3)  +" Litres";
        }
    </script>
</head>
<body>
    <div class="container">
    <h1>Mixed concentrations /abv calc</h1>
    </div>
    <div class="form-container">
        <form action="/alcohol-mix-abv" method="post" id="alcoholMixAbvForm">
            <label for="volumeOne">Volume of alcohol solution one (Litres):</label>
            <input type="number" id="volumeOne" step="0.01" required><br><br>

	    <label for="abvOne">Concentration /abv of solution one:</label>
            <input type="number" id="abvOne" step="0.01" required><br><br>

            <label for="volumeTwo">Volume of alcohol solution two (Litres):</label>
            <input type="number" id="volumeTwo" step="0.01" required><br><br>

	    <label for="abvTwo">Concentration /abv of solution two:</label>
            <input type="number" id="abvTwo" step="0.01" required><br><br>

            <input type="button" value="Calculate" onclick="calculateTargetAbv()">
        </form>

        <div id="results_abv"></div>
	<div id="results_volume"></div>

	<div class="button-container">
            <form action="/back-button-calculations" method="post" class="form">
                <button type="submit" class="top-right-button">Back to calculators</button>
            </form>
        </div>
    </div>
</body>
</html>

