<!DOCTYPE html>
<html>
<head>
    <title>Bottle sales</title>
    <!-- Add a link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        label {
            color: black; /* Set the color to white */
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Bottle sales</h1>
    </div>
    <div class="form-container">
            <form action="/bottle-sales" method="post" id="bottleSalesForm">
            <label for="previousBuyers">Select a Buyer</label>
                <select name="previousBuyers" id="previousBuyersSelect">
                    <option value="" selected disabled>Existing buyers</option>
                    {% for previous_buyer in previous_buyers %}
                    <option value="{{ previous_buyer }}">{{ previous_buyer }}</option>
                    {% endfor %}
                </select>

		<button type="button" onclick="location.href='/add-buyer-form'">Add a new buyer</button>
                <div style="margin-bottom: 10px;"></div>

		<label for="abv">ABV</label>
		<select name="abv" id="selectPreviousABV">
                        <option value="" selected disabled>Select abv</option>
                        {% for abv_ in previous_abv %}
                        <option value="{{ abv_ }}">{{ abv_ }} </option>
                        {% endfor %}
                </select>
		<input type="number" id="abv" name="abv" placeholder="New ABV">
                <label for="bottle_size_ml">Bottle Size (ml)</label>
		<select name="bottle_size_ml" id="selectPreviousSizes">
                        <option value="" selected disabled>Select a bottle size</option>
                        {% for size in previous_sizes %}
                        <option value="{{ size }}">{{ size }} </option>
                        {% endfor %}
                </select>
		<input type="number" id="bottle_size_ml" name="bottle_size_ml" placeholder="New bottle size (ml)">

		<label for="numberOfBottles">Number of bottles sold</label>
                <input type="number" id="numberOfBottles" name="numberOfBottles" required>

		<label for="bottleBatches">Select bottle batches</label>
		<select name="bottleBatches" id="bottleBatches" required>
			<option value="" selected disabled>Select bottle batch</option>
			{% for bottle_batch in bottle_batches %}
			<option value="{{ bottle_batch }}">{{ bottle_batch }}</option>
			{% endfor %}
		</select>

		<label for="notes">Notes</label>
		<input type="text" id="notes" name="notes" placeholder="Add optional notes about sale here e.g sample sent to Wanaka">

		<button type="button" id="addBottleBatch">Add Another Bottle Batch</button>
		<div style="margin-bottom: 10px;"></div>
		<div id="additionalBottleBatches"></div>

                <button type="submit"> Add Entry</button>
        </form>
    </div>

    <div class="button-container">
        <form action="/back-button-buys-sells" method="post" class="form">
            <button type="submit" class="top-right-button">Back to Buys / Sells menu</button>
        </form>

    </div>

    <script>
	document.addEventListener("DOMContentLoaded", function () {
	    var bottleBatchCounter = 1;

	    // Add an event listener to the "Add Another Bottle Batch" button
	    document.getElementById("addBottleBatch").addEventListener("click", function () {
		bottleBatchCounter++;

		// Create a new label for the bottle batch input
		var label = document.createElement("label");
		label.setAttribute("for", "bottleBatches" + bottleBatchCounter);
		label.innerText = "Bottle Batch " + bottleBatchCounter;

		// Create a new select element for bottle batch
		var select = document.createElement("select");
		select.name = "bottleBatches";
		select.id = "bottleBatches" + bottleBatchCounter;

		// Add a default option
		var defaultOption = document.createElement("option");
		defaultOption.value = "";
		defaultOption.textContent = "Select bottle batch";
		select.appendChild(defaultOption);

		// Add options from bottle_batches
		{% for bottle_batch in bottle_batches %}
		    var option = document.createElement("option");
		    option.value = "{{ bottle_batch }}";
		    option.textContent = "{{ bottle_batch }}";
		    select.appendChild(option);
		{% endfor %}

		// Create a new div to contain the label and select
		var div = document.createElement("div");
		div.appendChild(label);
		div.appendChild(select);

		// Append the new div to the additionalBottleBatches container
		document.getElementById("additionalBottleBatches").appendChild(div);
	    });
	});
    </script>
</body>
</html>
