<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Add this line -->
    <title>Whistlebird Inventory</title>
    <!-- Add a link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <div class="container">
        <h1>Whistlebird Inventory</h1>
    </div>
    
    <div class="background-container">
        <div class="background-image"></div>
        <div class="overlay-image"></div>
    </div>

    <div class="button-container">
        
        <form action="/purchasing-gns" method="post" class="form">
            <button type="submit" class="top-right-button">Purchased GNS</button>
        </form>

	<form action="/ingredient-tracer-form" method="post" class="form">
	    <button type="submit" class="top-right-button">Ingredient tracer</button>
	</form>

	<form action="/add-botanicals-to-inventory-form" method="post" class="form">
	     <button type="submit" class="top-right-button">Add ingredients to inventory</button>
	</form>

    </div>

    <div class="button-container">
        <form action="/back-button" method="post" class="form">
            <button type="submit" class="top-right-button">Back to main menu (Home)</button>
        </form>

    </div>

</body>
</html>
