<!DOCTYPE html>
<html>
<head>
    <title>Inventory</title>
    <!-- Add a link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_raw_data.css') }}">
</head>
<body>
    <div class="container">
        <h1>Inventory</h1>
        <table class="data-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Number of bottles stored (ready)</th>
                    <th>NGS stored</th>
                    <th>Empty bottles stored</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="button-container">
        <form action="/back-button-data-tools" method="post" class="form">
            <button type="submit" class="top-right-button">Back to Data tools</button>
        </form>

    </div>

</body>
</html>
