<!DOCTYPE html>
<html>
<head>
    <title>Purchased GNS</title>
    <!-- Add a link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        label {
            color: black; /* Set the color to white */
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Purchased GNS</h1>
    </div>

    <div class="form-container">
	    <form action="/add-purchase-entry" method="post" onsubmit="return confirmAddPurchase();">
            <label for="supplier">Supplier:</label>
                <select name="supplier" id="supplierSelect">
                    <option value="" selected disabled>Select a supplier</option>
                    {% for supplier in previous_suppliers %}
                    <option value="{{ supplier }}">{{ supplier }}</option>
                    {% endfor %}
                </select>

                <button type="button" onclick="location.href='/add-supplier-form'">Add a new supplier</button>
            <div style="margin-bottom: 10px;"></div>

		<label for="litres">Litres Purchased:</label>
                <input type="number" name="litres" placeholder="How many litres (L)" required>
		<input type="hidden" id="confirmationInput" name="confirmation" value="false">
		<button type="submit"> Add Entry</button>
        </form>
    </div>
    <script>
	function confirmAddPurchase() {
    	var confirmation = window.confirm("Are you sure you want to add this purchase?");
    	console.log("confirmAddPurchase function called");
	if (confirmation) {
            // Set the value of the confirmation input field to "true"
            document.getElementById("confirmationInput").value = "true";
            // Submit the form
            document.getElementById("purchaseForm").submit();
        }
    }
    </script>

    <div class="button-container">
        <form action="/back-button-buys-sells" method="post" class="form">
            <button type="submit" class="top-right-button">Back</button>
        </form>

    </div>

</body>
</html>
