<!DOCTYPE html>
<html>
<head>
    <!-- Add a link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        label {
            color: black; /* Set the color to black */
        }
    </style>
    <title>Spirits fortification calculations</title>
</head>
<body>
    <div class="container">
    <h1>Spirits fortification calculator</h1>
    </div>
    <div class="form-container">
        <form id="spiritsFortificationForm">
            <label for="volume_spirits">Enter volume of existing solution in Litres:</label>
            <input type="number" id="volume_spirits" step="0.01" required><br><br>

            <label for="neutral_spirits">Enter abv of spirit being added to solution:</label>
            <input type="number" id="neutral_spirits" step="0.01" required><br><br>

            <label for="current_abv">Enter current abv of solution:</label>
            <input type="number" id="current_abv" step="0.01" required><br><br>

	    <label for="desired_abv">Enter desired abv of solution:</label>
            <input type="number" id="desired_abv" step="0.01" required><br><br>

	    <input type="button" value="Calculate" onclick="calculateSpiritsFortification()">
        </form>

        <div id="result_spiritsToAdd"></div>
    </div>

    <script>
    function calculateSpiritsFortification() {
        var volume_spirits = parseFloat(document.getElementById("volume_spirits").value);
        var neutral_spirit = parseFloat(document.getElementById("neutral_spirits").value);
        var current_abv = parseFloat(document.getElementById("current_abv").value);
        var desired_abv = parseFloat(document.getElementById("desired_abv").value);

        if (isNaN(volume_spirits) || isNaN(neutral_spirit) || isNaN(current_abv) || isNaN(desired_abv)) {
            alert("Please enter valid numeric values.");
            return;
        }

        // Check for division by zero
        if (neutral_spirit === desired_abv || desired_abv === current_abv) {
            alert("Invalid input: Division by zero.");
            return;
        }

        // Calculate the volume of spirits to add in liters
        var volume_to_add_liters = volume_spirits * ((desired_abv - current_abv) / (neutral_spirit - desired_abv));

        // Display the result
        document.getElementById("result_spiritsToAdd").innerHTML = "Volume of spirits to add: " + volume_to_add_liters.toFixed(4) + " Liters";
    }
    </script>

    <div class="button-container">
        <form action="/back-button-calculations" method="post" class="form">
            <button type="submit" class="top-right-button">Back to calculators</button>
        </form>
    </div>

</body>
</html>

